<%# Link showing page number
  - available local variables
    page:          a page object for "this" page
    url:           url to this page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote -%>

  <%= link_to page, url, { class: "br-item",  title: t("views.pagination.title")  } %>


 <%# <div class="br-item" tabindex="-1">
            <div class="br-radio">
              <input id="go-to-1-random-48838" type="radio" name="go-to-random-48838" value="go-to-1-random-48838" checked="checked"/>
              <label for="go-to-1-random-48838">1</label>
            </div>
          </div> %>