<div class="wrapper">
  <div class="text-center mb-5">
    <h2 class="modal-title">Please check next step below</h2>
    <p class="export-text">You are almost there! Please <strong>check your email</strong> to continue your login.</p>
    <p class="export-text">You will receive instructions on how to continue from there.</p>
    <%= link_to "Continue", new_user_session_path, class: 'button' %>
  </div>
</div>
