<div class="wrapper">
  <div class="text-center mb-5">
    <h2 class="modal-title">Congratulations!</h2>
    <p class="export-text">We've sent your login credentials to your e-mail. Please complete your registration from there.</p>
  </div>
</div>
