<div class="br-list" role="list">
    <div class="br-item">
        <div class="lt-row" role="listitem">
            <div class="br-item statistics__list-item">Número de propostas criadas </div>
            <div class="statistics__count text-blue-warm-vivid-70"> 10 </div>
        </div>
    </div>
    <span class="br-divider"></span>
    <div class="br-item">
        <div class="lt-row" role="listitem">
            <div class="br-item statistics__list-item">Número de comentários feitos </div>
            <div class="statistics__count text-blue-warm-vivid-70"> 10 </div>
        </div>
    </div>
    <span class="br-divider"></span>
    <div class="br-item">
        <div class="lt-row" role="listitem">
            <div class="br-item statistics__list-item">Número de votos dados </div>
            <div class="statistics__count text-blue-warm-vivid-70"> 10 </div>
        </div>
    </div>
    <span class="br-divider"></span>
    <div class="br-item">
        <div class="lt-row" role="listitem">
            <div class="br-item statistics__list-item">Número de votos recebidos </div>
            <div class="statistics__count text-blue-warm-vivid-70"> 10 </div>
        </div>
    </div>
    <span class="br-divider"></span>
    <div class="br-item">
        <div class="lt-row" role="listitem">
            <div class="br-item statistics__list-item">Número de propostas que segue </div>
            <div class="statistics__count text-blue-warm-vivid-70"> 10 </div>
        </div>
    </div>
    <span class="br-divider"></span>
    <div class="br-item">
        <div class="lt-row" role="listitem">
            <div class="br-item statistics__list-item">Número de seguidores em minhas propostas </div>
            <div class="statistics__count text-blue-warm-vivid-70"> 10 </div>
        </div>
    </div>
    <span class="br-divider"></span>
</div>