<div class="m-bottom small">
  <%= link_to proposals_path, class: "small hollow js-back-to-list " do %>
    <%= icon "chevron-left", class: "icon--small", role: "img", "aria-hidden": true %>
    <%= t(".back") %>
  <% end %>
</div>
