  <% body_messages = [if translated_attribute(current_component.singular_name).present?
          t("decidim.proposals.proposals.preview.announcement_body", singular_name: translated_attribute(current_component.singular_name).downcase)
        else
          t("decidim.proposals.proposals.preview.announcement_body", singular_name: "proposta")
        end]
    if component_settings.proposal_edit_time == "limited"
      body_messages << t("decidim.proposals.proposals.preview.proposal_edit_before_minutes", count: component_settings.proposal_edit_before_minutes)
    end %>
<%# <%= cell(
    "decidim/announcement",
    {
      title: 
      if translated_attribute(current_component.singular_name).present?
        t("decidim.proposals.proposals.preview.announcement_title", singular_name: translated_attribute(current_component.singular_name).downcase)
      else
        t("decidim.proposals.proposals.preview.announcement_title", singular_name: "proposta")
      end,
      body: body_messages
    },
    callout_class: "warning"
  ) %>
<h2 class="section-heading">
  <%= proposal_wizard_step_title action_name %>
  <%= "(#{@similar_proposals.count})" if @similar_proposals.present? %>
</h2>
