<div class="m-bottom">
  <%= link_to proposals_path, class: "small hollow js-back-to-list back-to-list-button" do %>
    <i class="fa-solid fa-chevron-left fa-md"></i>
    <%= t(".back") %>
  <% end %>
</div>
