<% add_decidim_meta_tags({ description: present(@proposal).body, title: present(@proposal).title, url:
  proposal_url(@proposal.id) }) %>
  <% edit_link( resource_locator(@proposal).edit, :edit, :proposal, proposal: @proposal ) %>
    <% extra_admin_link( resource_locator(@proposal).show(anchor: "proposal-answer" ), :create, :proposal_answer, {
      proposal: @proposal }, { name: t(".answer"), icon: "comment-square" } ) %>
      <%= emendation_announcement_for @proposal %>
        <section class="br-container">
          <div class="br-container-lg home-sections-content information-section information-section-inverse-desktop">
            <img style=height:240px;width:100%;object-fit:cover; alt=imagers
              src=https://lab-decide.dataprev.gov.br/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBa0lIIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--081399e66f06d9cc4a6d4f069b8b8d4cc333f618/53699605057_df601fa62f_k.jpg
              class=image-content></img>
          </div>
          <section class="home-sections-container subcontent-section">
            <div class="br-container-lg home-sections-content information-section">
              <div class="right-content text-content">
                <h2 class="titulo-rs">Unindo Forças Frente às Enchentes no Rio Grande do Sul</h2>
                <p class="paragrafo-rs">O Rio Grande do Sul enfrenta uma situação crítica com chuvas intensas, afetando
                  principalmente a região sudeste do estado. Conforme o alerta vermelho do Instituto Nacional de
                  Meteorologia (INMET), os municípios estão experimentando precipitações que podem chegar a 100
                  milímetros por dia, acompanhadas de ventos de até 100 km/h. Esta iniciativa busca mobilizar recursos e
                  esforços coordenados para ajudar os afetados, priorizando a segurança e o bem-estar de todos, enquanto
                  trabalhamos juntos para mitigar os impactos dessas severas condições meteorológicas.</p>
              </div>
            </div>
          </section>
          <section class="home-sections-container subcontent-section">
            <img style=height:24px;width:100%;object-fit:cover; alt=imagers
              src=http://localhost:3000/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBDdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--5dae246099fb457cc4c652e79d17bca2da100578/6.png
              class=image-content></img>
            <div class="br-container-lg home-sections-content information-section cards-section">
              <div class="left-content box-card">
                <div class="card-title-box">
                  <i class="fa-solid card-icon fa-file-signature"></i>
                  <p class="card-title">Cadastre sua Iniciativa</p>
                </div>
                <p class="paragrafo-rs card-content">O consectetur adipiscing elit. Nullam gravida augue id velit
                  interdum malesuada.
                  Nam hendrerit metus vel sapien luctus consectetur. Aenean sagittis lectus quis nisi lobortis
                  dignissim. Suspendisse elementum lacus a pharetra ornare. Duis fermentum, enim ut tempor scelerisque,
                  lectus nunc pellentesque lorem, vel gravida mi dui quis nibh.</p>
                <div class="card-button-box">
                  <a href=/processes/planoclima/f/285/ class="active br-button primary">Cadastre iniciativas</a>
                </div>
              </div>
              <div class="right-content box-card">
                <div class="card-title-box">
                  <i class="fa-solid card-icon fa-hand-holding-heart"></i>
                  <p class="card-title">Seja voluntário</p>
                </div>
                <p class="paragrafo-rs card-content">O consectetur adipiscing elit. Nullam gravida augue id velit
                  interdum malesuada.
                  Nam hendrerit metus vel sapien luctus consectetur. Aenean sagittis lectus quis nisi lobortis
                  dignissim. Suspendisse elementum lacus a pharetra ornare. Duis fermentum, enim ut tempor scelerisque,
                  lectus nunc pellentesque lorem, vel gravida mi dui quis nibh.</p>
                <div class="card-button-box">
                  <a href=/processes/planoclima/f/285/ class="active br-button primary">Cadastre-se</a>
                </div>
              </div>
            </div>
            <img style=height:24px;width:100%;object-fit:cover; alt=imagers
              src=http://localhost:3000/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBDdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--5dae246099fb457cc4c652e79d17bca2da100578/6.png
              class=image-content></img>
          </section>
          <section class="home-sections-container subcontent-section">
            <div class="br-container-lg home-sections-content information-section">
              <div class="text-content doacao-container">
                <h2 class="titulo-doacao">Faça sua doação</h2>
                <p class="paragrafo-rs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam gravida augue id
                  velit interdum malesuada. Nam hendrerit metus vel sapien luctus consectetur.</p>
              </div>
              <div class="container-pix">
                <div class="info-instituicao">
                  <p class="titulo-instituicao">Banco XXXXXXXXX</p>
                  <p class="intuito-instituicao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam gravida
                    augue id velit interdum malesuada. Nam hendrerit metus vel sapien luctus consectetur.</p>
                </div>
                <div class="box-pix">
                  <div style=padding-right:16px;>
                    <p class="titulo-pix">PIX</p>
                    <p class="instituicao">Banco XXXX</p>
                    <p class="chave">Chave CNPJ: 123456/0001.3</p>
                  </div>
                  <img style=height:92px;width:92px;object-fit:cover; alt=imagers
                    src=http://localhost:3000/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBEQT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--a7cf4af823ecd797b8229ed2dad662dce05e02f5/QR%20code.png
                    class=image-content></img>
                </div>
              </div>
              <div class="container-pix">
                <div class="info-instituicao">
                  <p class="titulo-instituicao">Banco XXXXXXXXX</p>
                  <p class="intuito-instituicao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam gravida
                    augue id velit interdum malesuada. Nam hendrerit metus vel sapien luctus consectetur.</p>
                </div>
                <div class="box-pix">
                  <div style=padding-right:16px;>
                    <p class="titulo-pix">PIX</p>
                    <p class="instituicao">Banco XXXX</p>
                    <p class="chave">Chave CNPJ: 123456/0001.3</p>
                  </div>
                  <img style=height:100px;width:100px;object-fit:cover; alt=imagers
                    src=http://localhost:3000/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBEQT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--a7cf4af823ecd797b8229ed2dad662dce05e02f5/QR%20code.png
                    class=image-content></img>
                </div>
              </div>
            </div>
          </section>
          <section class="home-sections-container subcontent-section"></section>
          <div class="divider"></div>
          </section>
          <section class="bp-logo-container br-container-lg"><a href=https://www.gov.br/brasilparticipativo><img
            alt=logo-brasil-participativo
            src=https://brasilparticipativo.presidencia.gov.br/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ0VpIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--83a2abd12f5092b982cfdec5938eb1296f17c1d2/novo_bp_logo.png
            class=bp-logo style=filter:invert(0);width:194.13px></a></section>
          <section class=logos__section>
            <div class=logos__container><a href=https://www.unb.br/ data-asw-orgfontsize=14 style=font-size:14px><img
              alt="unb logo"
              src=https://brasilparticipativo.presidencia.gov.br/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBGZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--76ef1c7950a4004478f2873e319b6f78971c9c40/logo_unb.png
              style=filter:invert(0) id=unb-logo> </a>
              <a href=https://www.gov.br/gestao/pt-br data-asw-orgfontsize=14 style=font-size:14px><img
                alt="secretaria nacional de participação social logo"
                src=http://localhost:3000/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBFQT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--972151436e4f3bb40b1d633e33d801aa39d6c785/snps.png
                style=filter:invert(0) id=unb-snps> </a>
              <a href=https://www.gov.br/sg/pt-br data-asw-orgfontsize=14 style=font-size:14px><img
                alt="secretaria geral logo"
                src=http://localhost:3000/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBEZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--3f37c2a4287684c6afbd2a36a3b82f0010cba793/secretaria-geral.png
                style=filter:invert(0) id=logo-sg> </a>
              <a href=https://www.gov.br/secom/pt-br data-asw-orgfontsize=14 style=font-size:14px><img
                alt="secretaria de comunicação social logo"
                src=http://localhost:3000/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBEdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--eb745861e12dc75d5985512e5a6e5b96fdf621c0/Camada%201.png
                style=filter:invert(0) id=secom-logo> </a>
              <a href=https://www.gov.br/pt-br data-asw-orgfontsize=14 style=font-size:14px><img
                alt="governo federal logo"
                src=http://localhost:3000/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBEUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--712225327e551df4757a749e72cc28ed2d911404/Governo%20Federal.png
                style=filter:invert(0) id=logo-governo-federal> </a>
            </div>
          </section>
          <script> const brItems = document.querySelectorAll(".br-item"); brItems.forEach((item) => { item.addEventListener("click", () => { const targetId = item.getAttribute("data-target"); const brList = document.getElementById(targetId); const icon = item.querySelector("i"); if (brList) { brList.style.display = brList.style.display === "block" ? "none" : "block"; if (icon.classList.contains("fa-chevron-down")) { icon.classList.replace("fa-chevron-down", "fa-chevron-up"); } else { icon.classList.replace("fa-chevron-up", "fa-chevron-down"); } } }); }); </script>
          <style>
            .divider {
              border-bottom: 1px solid #CCCCCC;
              margin: 64px 0px;
            }

            .logos__container {
              gap: 32px;
            }

            .info-instituicao {
              width: 100%;
              padding-right: 24px;
            }

            .doacao-container {
              margin-bottom: 32px;
            }

            .container-pix {
              display: flex;
              margin-top: 24px;
            }

            .box-pix {
              padding: 16px;
              background-color: #EDF5FF;
              border-radius: 8px;
              display: flex;
              flex-direction: row;
              align-items: center;
              text-align: center;
            }

            .titulo-pix {
              font-size: 16px;
              font-weight: bold;
              color: #0C326F;
            }

            .instituicao {
              font-weight: 600;
              font-size: 16px;
            }

            .chave {
              font-weight: 500;
              font-size: 16px;
            }

            .titulo-instituicao {
              color: #0C326F;
              font-size: 16px;
              font-weight: bold;
              margin-bottom: 5px;
            }

            .intuito-instituicao {
              font-size: 16px;
            }

            .subcontent-section {
              margin-bottom: 32px;
            }

            .titulo-rs {
              margin: 32px 0px;
              padding: 0px;
            }

            .paragrafo-rs {
              font-size: 16px;
            }

            .box-card {
              padding: 16px;
              background-color: white;
              border-radius: 4px;
            }

            .card-title-box {
              display: flex;
              border-bottom: 1px solid #1351B4;
            }

            .card-title {
              color: #1351B4;
              font-size: 16px;
            }

            .cards-section {
              display: flex;
              padding: 24px 0px;
              justify-content: space-evenly;
              background-color: #F3F7FB;
            }

            .card-icon {
              color: #1351B4;
              font-size: 20px;
              padding-right: 12px;
            }

            .card-content {
              padding-top: 16px;
              text-align: left;
            }

            .card-button-box {
              display: flex;
              justify-content: center;
            }

            .titulo-doacao {
              margin-bottom: 5px;
              padding: 0px;
            }
          </style>