<% add_decidim_meta_tags({ description: present(@proposal).body, title: present(@proposal).title, url:
  proposal_url(@proposal.id) }) %>
  <% edit_link( resource_locator(@proposal).edit, :edit, :proposal, proposal: @proposal ) %>
    <% extra_admin_link( resource_locator(@proposal).show(anchor: "proposal-answer" ), :create, :proposal_answer, {
      proposal: @proposal }, { name: t(".answer"), icon: "comment-square" } ) %>
      <%= emendation_announcement_for @proposal %>
        <section class="br-container">
          <div class="br-container-lg home-sections-content information-section information-section-inverse-desktop">
            <img style=height:240px;width:100%;object-fit:cover; alt=imagers
              src=https://brasilparticipativo.presidencia.gov.br/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBcWFiIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--b710b4e3eb3ebf177efaa0933f6c5ee0a3d52804/53700837094_4505cb0fed_k.jpg
              class=image-content></img>
          </div>
          <section class="subcontent-section">
            <div class="br-container-lg home-sections-content information-section">
              <div class="right-content text-content">
                <h2 class="titulo-rs">Preciso de ajuda</h2>
                <p class="paragrafo-rs">O Rio Grande do Sul enfrenta uma situação crítica com chuvas intensas, afetando
                  principalmente a região sudeste do estado. Conforme o alerta vermelho do Instituto Nacional de
                  Meteorologia (INMET), os municípios estão experimentando precipitações que podem chegar a 100
                  milímetros por dia, acompanhadas de ventos de até 100 km/h. Esta iniciativa busca mobilizar recursos e
                  esforços coordenados para ajudar os afetados, priorizando a segurança e o bem-estar de todos, enquanto
                  trabalhamos juntos para mitigar os impactos dessas severas condições meteorológicas.</p>
              </div>
            </div>
          </section>
          <section class="subcontent-section">
            <div class="br-container-lg home-sections-content information-section">
              <img style=height:24px;width:100%;object-fit:cover; alt=imagers
                src=https://brasilparticipativo.presidencia.gov.br/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBcWViIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--b529d66240858217bd7a1b613dac32bab20b50c7/6.png
                class=image-content></img>
              <div class="br-container-lg home-sections-content information-section cards-container">
                <div class="br-container-lg home-sections-content information-section cards-section">
                  <div class="left-content box-card">
                    <div class="card-title-box">
                      <i class="fa-solid card-icon fa-layer-group"></i>
                      <p class="card-title">Equipamentos Governamentais</p>
                    </div>
                    <p class="paragrafo-rs card-content">O consectetur adipiscing elit. Nullam gravida augue id velit
                      interdum malesuada.
                      Nam hendrerit metus vel sapien luctus consectetur. Aenean sagittis lectus quis nisi lobortis
                      dignissim. Suspendisse elementum lacus a pharetra ornare. Duis fermentum, enim ut tempor scelerisque,
                      lectus nunc pellentesque lorem, vel gravida mi dui quis nibh.</p>
                  </div>
                  <div class="right-content box-card">
                    <div class="card-title-box">
                      <i class="fa-solid card-icon fa-people-carry"></i>
                      <p class="card-title">Iniciativas da Sociedade Civil</p>
                    </div>
                    <p class="paragrafo-rs card-content">O consectetur adipiscing elit. Nullam gravida augue id velit
                      interdum malesuada.
                      Nam hendrerit metus vel sapien luctus consectetur. Aenean sagittis lectus quis nisi lobortis
                      dignissim. Suspendisse elementum lacus a pharetra ornare. Duis fermentum, enim ut tempor scelerisque,
                      lectus nunc pellentesque lorem, vel gravida mi dui quis nibh.</p>
                </div>
                </div>
                <div class="card-button-box">
                  <a href=/processes/planoclima/f/285/ class="active br-button primary">Acessar iniciativas</a>
                </div>
              </div>
              <img style=height:24px;width:100%;object-fit:cover; alt=imagers
                src=https://brasilparticipativo.presidencia.gov.br/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBcWViIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--b529d66240858217bd7a1b613dac32bab20b50c7/6.png
                class=image-content></img>
            </div>
          </section>
          <section class="subcontent-section">
            <div class="br-container-lg information-section">
              <div class="text-content doacao-container">
                <h2 class="titulo-doacao">Canais de emergências oficiais</h2>
                <p class="paragrafo-rs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam gravida augue id
                  velit interdum malesuada. Nam hendrerit metus vel sapien luctus consectetur.</p>
              </div>
              <div class="container-pix">
                <div class="info-instituicao">
                  <p class="titulo-instituicao">Nome da instituição</p>
                  <div class="contato-content">
                    <p class="intuito-instituicao"><b>Telefone:</b> 0000-0000</p>
                    <p class="intuito-instituicao"><b>Email:</b> example@example.com</p>
                  </div>
                </div>
              </div>
              <div class="container-pix">
                <div class="info-instituicao">
                  <p class="titulo-instituicao">Nome da instituição</p>
                  <div class="contato-content">
                    <p class="intuito-instituicao"><b>Telefone:</b> 0000-0000</p>
                    <p class="intuito-instituicao"><b>Email:</b> example@example.com</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="subcontent-section"></section>
          <div class="divider"></div>
          </section>
          <section class="bp-logo-container br-container-lg"><a href=https://www.gov.br/brasilparticipativo><img
            alt=logo-brasil-participativo
            src=https://brasilparticipativo.presidencia.gov.br/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ0VpIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--83a2abd12f5092b982cfdec5938eb1296f17c1d2/novo_bp_logo.png
            class=bp-logo style=filter:invert(0);width:194.13px></a></section>
          <section class=logos__section>
            <div class=logos__container><a href=https://www.unb.br/ data-asw-orgfontsize=14 style=font-size:14px><img
              alt="unb logo"
              src=https://brasilparticipativo.presidencia.gov.br/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBGZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--76ef1c7950a4004478f2873e319b6f78971c9c40/logo_unb.png
              style=filter:invert(0) id=unb-logo> </a>
              <a href=https://www.gov.br/gestao/pt-br data-asw-orgfontsize=14 style=font-size:14px><img
                alt="secretaria nacional de participação social logo"
                src=https://brasilparticipativo.presidencia.gov.br/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBcXViIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--68612b3f3c458efc4072c975ac322b0f41d129c2/snps.png
                style=filter:invert(0) id=unb-snps> </a>
              <a href=https://www.gov.br/sg/pt-br data-asw-orgfontsize=14 style=font-size:14px><img
                alt="secretaria geral logo"
                src=https://brasilparticipativo.presidencia.gov.br/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBcXFiIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--c41c7abefa892d615a4d6b81a2aa06e030cef731/secretaria-geral.png
                style=filter:invert(0) id=logo-sg> </a>
              <a href=https://www.gov.br/secom/pt-br data-asw-orgfontsize=14 style=font-size:14px><img
                alt="secretaria de comunicação social logo"
                src=https://brasilparticipativo.presidencia.gov.br/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBcWliIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--6b2780a376b3f9e77e850a5c4a92ad922b104615/Camada%201.png
                style=filter:invert(0) id=secom-logo> </a>
              <a href=https://www.gov.br/pt-br data-asw-orgfontsize=14 style=font-size:14px><img
                alt="governo federal logo"
                src=https://brasilparticipativo.presidencia.gov.br/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBcXliIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--6204cf44544e5087d711308b75bfe2f277b31b28/Governo%20Federal.png
                style=filter:invert(0) id=logo-governo-federal> </a>
            </div>
          </section>
          <script> const brItems = document.querySelectorAll(".br-item"); brItems.forEach((item) => { item.addEventListener("click", () => { const targetId = item.getAttribute("data-target"); const brList = document.getElementById(targetId); const icon = item.querySelector("i"); if (brList) { brList.style.display = brList.style.display === "block" ? "none" : "block"; if (icon.classList.contains("fa-chevron-down")) { icon.classList.replace("fa-chevron-down", "fa-chevron-up"); } else { icon.classList.replace("fa-chevron-up", "fa-chevron-down"); } } }); }); </script>
          <style>
            .divider {
              border-bottom: 1px solid #CCCCCC;
              margin: 64px 0px;
            }

            .logos__container {
              gap: 32px;
            }

            .info-instituicao {
              width: 100%;
              padding-right: 24px;
            }

            .doacao-container {
              margin-bottom: 32px;
            }

            .container-pix {
              display: flex;
              margin-top: 24px;
            }

            .box-pix {
              padding: 16px;
              background-color: #EDF5FF;
              border-radius: 8px;
              display: flex;
              flex-direction: row;
              align-items: center;
              text-align: center;
            }

            .titulo-pix {
              font-size: 16px;
              font-weight: bold;
              color: #0C326F;
            }

            .instituicao {
              font-weight: 600;
              font-size: 16px;
            }

            .chave {
              font-weight: 500;
              font-size: 16px;
            }

            .titulo-instituicao {
              color: #0C326F;
              font-size: 16px;
              font-weight: bold;
              margin-bottom: 10px;
            }

            .intuito-instituicao {
              font-size: 16px;
              margin-right: 32px;
            }

            .subcontent-section {
              margin-bottom: 32px;
            }

            .titulo-rs {
              margin: 32px 0px;
              padding: 0px;
            }

            .paragrafo-rs {
              font-size: 16px;
            }

            .contato-content {
              display: flex;
            }

            .box-card {
              padding: 16px;
              background-color: white;
              border-radius: 4px;
            }

            .card-title-box {
              display: flex;
              border-bottom: 1px solid #1351B4;
            }

            .card-title {
              color: #1351B4;
              font-size: 16px;
            }

            .cards-section {
              display: flex;
              padding-bottom: 24px;
              justify-content: space-evenly;
            }
            
            .cards-container {
              background-color: #F3F7FB;
              padding: 24px 0px;
            }

            .card-icon {
              color: #1351B4;
              font-size: 20px;
              padding-right: 12px;
            }

            .card-content {
              padding-top: 16px;
              text-align: left;
            }

            .card-button-box {
              display: flex;
              justify-content: center;
            }

            .titulo-doacao {
              margin-bottom: 5px;
              padding: 0px;
            }
          </style>