
<footer class="br-footer">
  <div class="br-container-lg">
    <div class="logo"><img src="https://cdngovbr-ds.estaleiro.serpro.gov.br/design-system/images/logo-negative.png" alt="Imagem"/></div>
    <div class="br-row d-flex justify-content-center">
      <div class="br-col-md-8 br-col-lg-6 br-col-xl-4">
        <nav class="main__footer__nav mb-5">
          <ul class="footer-nav">
            <li><a href="/pages/relatoriodaplataforma">Relatório da Plataforma Brasil Participativo</a></li>
            <li><a href="/pages/terms-and-conditions">Termos e Condições</a></li>
            <li><a href="/open-data/download">Baixar arquivos de Dados Abertos</a></li>
            <li><a href="#" data-open="dc-modal" aria-controls="dc-modal" aria-haspopup="dialog" tabindex="0">Configurações de cookies</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div><span class="br-divider my-3"></span>
  <div class="br-container-lg">
    <div class="info">
      <div class="text-down-01 text-medium pb-3">Texto destinado a exibição de informações relacionadas à&nbsp;<strong>licença de uso.</strong></div>
    </div>
  </div>
</footer>