// This is a file that can be overridden by the application in order to override styles
// Notice that this file is included at the very end of the stylesheets packs to have
// more priority
//
// To override CSS variables or Foundation settings use _decidim-settings.scss
//
// By default this is empty.
//@import "../application";

@import "../govbr-ds/core";
@import "../govbr-ds/main";
@import "../govbr-ds/collapse.scss";
@import "../govbr-ds/blog.scss";
@import "../govbr-ds/participatory-text.scss";
@import ".././govbr-ds/pagination.scss";
@import "../custom/proposals.scss";
@import "../govbr-ds/filter.scss";
@import "../custom/statistics.scss";
@import "../custom/tts.scss";

@import "../custom/process-content.scss";
@import "../custom/attachments.scss";
@import "../custom/meetings.scss";
@import "../custom/questionary.scss";
@import "../custom/card.scss";
@import "../custom/sign.scss";
@import "../custom/lateralMenu.scss";
@import "../custom/cookies.scss";
@import "../custom/comment.scss";
@import "../custom/pages.scss";
@import "../custom/map.scss";
@import "../custom/modal.scss";
@import "../custom/news.scss";
@import "../custom/shared.scss";  
@import "../custom/meetings_show.scss";
@import "../custom/profile-menu.scss";
@import "../custom/searches.scss"
