.mini-title {
  color: #636363;
  font-size: 0.875rem;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1rem;

  &__strong {
    font-size: 1.2rem;
    font-weight: 800;
  }

  &__strong--highlight {
    font-size: 1.4rem;
  }
}

.button-container-style {
  color: #1451b4;
}

.size-icon-filter {
  font-size: 1rem;
}

.fa-sliders-h {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.filter-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: left;
}

.br-reveal {
  display: block;
  height: 80%;
  width: 600px;
  max-width: 80%;
  z-index: 10;
  padding: 1rem;
  border: 1px solid #e8e8e8;
  background-color: #fafafa;
  border-radius: 4px;
  position: relative;
  top: 100px;
  margin-right: auto;
  margin-left: auto;
  overflow-y: auto;
}

.announcement-card {
  padding: 1rem;
}

.filters {
  padding: 0;
  min-height: auto;
}

.filters__title {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.resullts-per-page-item {
  padding: 4px;
  display: flex;
  text-decoration: none;
}

.results-per-page__link {
  text-decoration: none !important;
}

.results-per-page__link:hover {
  background-color: #e8e8e8;
}

.results-per-page-button {
  display: flex !important;
  flex-direction: row !important;
  text-decoration: none !important;
  align-items: center;
  justify-content: center;
}

.filters-per-page-button {
  padding: 5px !important;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  display: flex;
  margin-left: 4px;
}

.filters-per-page-button:hover {
  background-color: var(--blue-warm-20);
}

.pagination-br-container {
  margin-top: 16px;
}

#filters__menu {
  background-color: var(--gray-2);
  max-height: 0;
  transition: max-height 0.5s ease; 
  overflow: hidden;
}

#filters__menu legend.mini-title{
  font-size: var(--font-size-scale-up-01);
  font-weight: var(--font-weight-bold);
}

#filters__menu fieldset{
  display: flex;
  gap: 1.25rem;
  margin: 0.25rem 0rem;
  align-items: center;
}

#filters__menu fieldset div{
  display: flex;
  gap: 1.25rem;
}

#filters__menu fieldset label{
  display: flex;
  align-items: center;
  font-size: var(--font-size-scale-up-01);
  margin-left: 5px;
}

#filters__menu fieldset div{
  display: flex;
  flex-wrap: wrap;
}

#filters__menu fieldset label > input[type=checkbox]{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px !important;
  height: 20px !important;
  appearance: none;
  outline: 2px solid var(--blue-warm-vivid-50);
  box-shadow: none;
  text-align: center;
  line-height: 1em;
  background: var(--pure-0);
  font-size: var(--font-size-scale-up-02);
}

#filters__menu fieldset label > input[type=checkbox]:checked::after{
  content: '✓';
  color: var(--blue-warm-vivid-50);
  font-size: var(--font-size-scale-up-02);
}

#filters__menu fieldset label > input[type=checkbox]:checked + label{
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#filter-btn-br {
  display: flex;
  justify-content: space-between;
  width: 180px;
  height: 40px;
  background-color: var(--pure-0) !important;
  border: 1px solid var(--gray-80);
  color: var(--gray-80);
  margin-top: 0.75rem;
  margin-bottom: 5px;
  padding: 8px 24px 8px 24px;
  gap: 8px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: var(--font-weight-semi-bold);
}

#filter-btn-br:hover {
  color: var(--gray-80);
}

.filters .filters__section {
  border: 0px;
  padding: 1rem 0rem;
}

.filters__hidden {
  width: 0px;
  height: 0px;
  padding: 0px;
}

#filters__menu.show__filters__menu, #filters__triangle.show__filters__menu {
  max-height: 500px;
}

#filters__triangle.show__filters__menu {
  border-bottom: 24px solid var(--gray-2); /* Adjust the height and color of the triangle */
}

#filters__menu div fieldset {
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
}

#filters__menu div fieldset div{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  width: 100%;
  gap: 16px 24px;
}

#filters__menu div.type_collection_radio_buttons_filter fieldset {
  flex-direction: row;
  gap: 24px;
}

#filters__menu div.type_collection_radio_buttons_filter fieldset label{
  font-size: var(--font-size-scale-up-01);
  font-weight: var(--font-weight-semi-bold);
  color: var(--gray-90);
}

#filters__menu div fieldset label{
  font-size: var(--font-size-scale-up-01);
  font-weight: var(--font-weight-regular);
  color: var(--gray-90);
}

#filters__triangle {
  max-height: 0;
  margin-left: 55px;
  padding: 0;
  width: 0;
  height: 0;
  border-left: 35px solid transparent; /* Adjust the width of the triangle */
  border-right: 35px solid transparent; /* Adjust the width of the triangle */
}

@media screen and (max-width: 600px) {
  #filters__menu div.type_collection_radio_buttons_filter fieldset {
    flex-direction: column;
    gap: 16px;
  }
}