<div class="br-announcement info" role="alert">
  <div class="content">
    <% if has_title? %>
      <span class="message-title">
        <%= clean_title %>
      </span>
      <%= clean_body %>
    <% else %>
      <%= clean_announcement %>
    <% end %>
  </div>
</div>