<div class="card__icondata">
  <ul class="card-data">
    <li class="card-data__item">
      <i class="fa-solid fa-clock fa-xl" style="color: #2670e8;"></i>
    </li>
    <%= meeting_date %>
  </ul>
</div>
