<div class="card__footer">
  <div class="card__support">
  <div class="meetings-count-container">
    <p class="meetings-count-text">
      <%= render partial: "/decidim/meetings/meeting_m/count" %>
    </p>
      inscritos  
  </div>
    <% if can_join? && show_footer_actions? %>
      <%= cell "decidim/meetings/join_meeting_button", model %>
    <% else %>

    <% current_time_str = Time.now.strftime("%H:%M") %>
    <% current_time = Time.strptime(current_time_str, "%H:%M") %>
    <% current_date = Date.today %> 
    <% start_time = Time.parse(formatted_start_time)%>
    <% end_time = Time.parse(formatted_end_time)%>
  
    <div class="footer_button_text">
      <% if start_time <=current_time && end_time >= current_time && start_date >= current_date  && end_date >= current_date %>
        <%= link_to "Participar", resource_path, class: "card__button button--sc light button small" %>
      <% else %>
        <%= link_to "Visualizar", resource_path, class: "card__button button--sc light button small" %>
      <% end %>  
    </div>
    <% end %>
  </div>
</div>
