<div class="card__footer">
  <div class="card__support">
  <div class="meetings-count-container">
    <p class="meetings-count-text">
      <%= render partial: "/decidim/meetings/meeting_m/count" %>
    </p>
      inscritos  
  </div>
  
    <% if can_join? && show_footer_actions? %>
      <%= cell "decidim/meetings/join_meeting_button", model %>
    <% else %>
      <div class="footer_button_text">
        <%= link_to "Participar", resource_path, class: "card__button button--sc light button small" %>
      </div>
    <% end %>
  </div>
</div>
