<div class="component_card__footer">
  <div class="bp-divider"> </div>
  <div class="meetings-card-count-container">
    <span class="meetings-card-count-text">
      <%= render partial: "/decidim/meetings/meeting_m/count" %> <%= t("decidim.meetings.card.subscriber_count", count: subscribers_count) %>
    </span>
  </div>
  <div class="bp-divider"> </div>
  <% if can_join? && show_footer_actions? %>
    <div class="component_buttons">
      <%= cell "decidim/meetings/join_meeting_button", model %>
    </div>
  <% end %>
</div>
