<li class="card-data__item">
  <div class="card-data__item--multiple">
    <div>
      <strong>
        <%= l start_date, format: :decidim_with_month_name %>
      </strong>
      <%= formatted_start_time %>
    </div>
    <i class="fa-solid fa-arrow-right fa-xl" style="color: #636363;"></i>
    <div>
      <strong>
        <%= l end_date, format: :decidim_with_month_name %>
      </strong>
      <%= formatted_end_time %>
    </div>
  </div>
</li>
