<div class="grid-x">
  <div class="cell">
    <%= form.hidden_field :position, class: "position" %> <%= form.text_field :title, required: true %>
  </div>
</div>
<% if proposal.article? %>
  <div class="grid-x">
    <div class="cell"><%= form.editor :body, required: true, rows: 5 %></div>
  </div>
<% end %>