<%= form.hidden_field :deleted, id: "proposal-draft-#{form.index}-deleted" %>
<div class="grid-x">
  <div class="cell">
    <%= form.hidden_field :position, class: "position" %> 
    <%= form.text_field :title, required: true, disabled: can_edit ? nil : "disabled" %>
  </div>
</div>
<% if proposal.article? %>
  <div class="grid-x">
    <div class="cell"><%= form.text_area :body, required: true, rows: 5, disabled: can_edit ? nil : "disabled" %></div>
  </div>
<% end %>