<section class="process-home-container">
  <h2 class="page-subtitle">Faça sua Voz Contar: Participe da Consulta Pública Agora!</h2>
    <div class="hero-info-content">
        <img alt="Hero image" class="hero-info-img" src="https://brasilparticipativo.presidencia.gov.br/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBczZZIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--172deeffb568754f74a43b02f49365bb60da3a6b/consulta-publica-index.png" />
        <div class="hero-info-right-content">
            <p>Expresse suas opiniões e ideias sobre questões que importam para você e sua comunidade. Sua contribuição é fundamental para promover um diálogo transparente e eficaz entre a administração pública e os cidadãos. Ao participar da consulta pública, você está exercendo seu direito democrático e ajudando a moldar políticas públicas que refletem as necessidades e desejos da sociedade. Não deixe sua voz ficar em silêncio. Junte-se a nós e faça a diferença!</p>
            <div class="hero-info-actions">
                <a href="#" class="br-button secondary">Enquete</a>
                <a href="#" class="br-button primary">Texto participativo</a>
            </div>
        </div>
    </div>
</section>
