<section class="process-home-container">
  <h2 class="page-subtitle"><%= t("pt-BR.activemodel.attributes.participatory_process.make_your_voice") %></h2>
    <div class="hero-info-content">
        <img alt="Hero image" class="hero-info-img" src="https://brasilparticipativo.presidencia.gov.br/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBczZZIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--172deeffb568754f74a43b02f49365bb60da3a6b/consulta-publica-index.png" />
        <div class="hero-info-right-content">
            <p> <%= t("pt-BR.activemodel.attributes.participatory_process.express_your_opinion") %> </p>
            <div class="hero-info-actions">
                <a href="#" class="br-button secondary"><p> <%= t("pt-BR.activemodel.attributes.participatory_process.poll") %> </p></a>
                <a href="#" class="br-button primary"> <%= t("pt-BR.activemodel.attributes.participatory_process.participatory_process") %></a>
            </div>
        </div>
    </div>
</section>
