<div class="br-pagination-meetings" aria-label="Paginação de resultados" data-current="1">
  <%= button_to "<i class=\"fa-solid fa-caret-left fa-xl\"></i>".html_safe, { remote: true}, {class: 'br-button circle meetings-pagination-button', id: "prev-button", type: "button"} %>
  <p class="meetings-pagination-text"></p>
  <%= button_to "<i class=\"fa-solid fa-caret-right fa-xl\"></i>".html_safe, { remote: true}, {class: 'br-button circle meetings-pagination-button', id: "next-button", type: "button"} %>
</div>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    
    var currentIndex = new Date().getMonth();
    var months = ["Janeiro", "Fevereiro", "Março", "Abril", "Maior", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"];

    var prevButton = document.getElementById("prev-button");
    var nextButton = document.getElementById("next-button");

    var currentMonthText = document.querySelector(".meetings-pagination-text");

    function updateCurrentMonth() {
      currentMonthText.textContent = months[currentIndex];
    }

    prevButton.addEventListener("click", function() {
      currentIndex = (currentIndex - 1 + 12) % 12;
      updateCurrentMonth();
    });

    nextButton.addEventListener("click", function() {
      currentIndex = (currentIndex + 1) % 12;
      updateCurrentMonth();
    });

    updateCurrentMonth();

  });
</script>


