<h2 class="section-header-text">Organize um evento</h2>

<h3 class="section-header-help-text">
    Siga as instruções abaixo para organizar seu evento e deixar sua marca nas decisões que impactam o Brasil.
</h3>

<p class="help-new-proposal-header">
    Revise o seu conteúdo e tenha certeza que está tudo correto antes de publicar. Após a publicação, você poderá editar ou apagar a proposta somente se não tiver recebido nenhum voto.
</p>

<%= form_required_explanation %>