<p class="email-instructions"><%= "Greetings, #{present(@user).name}" %></p>
<p class="email-instructions">
  Your account was created successfully and it's now pending confirmation. The platform administration team will review all given information.
  Once your registration is approved, <strong>you will receive a confirmation e-mail and you will be able to participate.</strong>
</p>
<p class="email-instructions">
  We aim to approve all registrations as fast as possible. However, please note that it can take up to 72 hours.
</p>
<p>Thank you for understanding.</p>
