<p class="email-instructions"><%= "Greetings, #{present(@user).name}" %></p>
<p class="email-instructions">
  Your account was created successfully and it's now pending confirmation. The platform administration team will review all given information.
  Once your registration is approved, you will receive a confirmation e-mail and you will be able to participate.
</p>
<p>Thank you for understanding.</p>
