.comments-header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.br-comments-count {
  color: var(--blue-warm-vivid-80);
  font-size: 1.25rem !important;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.comments-count {
  font-weight: bold!important;
  color: #000000!important;
  gap: 1.5rem;
}
.comments_blocked_warning {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--blue-warm-vivid-80);
}

.comment__footer {
  padding: 1rem;
  font-size: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.comment__footer_votes {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.comment_check {
  margin-left: 6px;
}

.interaction-select:hover {
  a {
    color: var(--blue-warm-vivid-20);
  }
}

.feedback-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.accept-button {
  color: var(--green-vivid-70);
  gap: 8px;
}
.accept-button.selected {
  background-color: var(--green-vivid-70);
  color: var(--background-light);
}

.reject-button {
  color: var(--red-vivid-60);
  gap: 8px;
}
.reject-button.selected {
  background-color: var(--red-vivid-60);
  color: var(--background-light);
}

.comment-thread {
  border: 0;
  box-shadow: none;
  margin-bottom: 0!important;
}
.comment__header {
  justify-content: space-between;
  padding: 0;
}

.author__avatar img{
  width: 37px!important;
  height: 37px!important;
}
.comment-settings {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.gallery {
  margin-top: 1.5rem;
}
.comments {
  padding: 0 0 3rem 0;
}
.comments-container {
  border-radius: 10px;
}

.comments-section-title {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
}
.add-comment-title {
  font-size: 16px;
  margin: 0;
}
.add-comment .field {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: var(--background);
  text-align: right;
}
.add-comment .remaining-character-count{
  color: var(--Blue-Warm-Vivid-blue-warm-vivid-80, #0C326F)!important;
  font-family: Rawline;
  font-size: 0.75rem !important;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 0!important;
}
.comments-thread-title{
  font-size: 1.5rem;
  text-align: center;
  margin-top: 6rem;
}

.comment-threads{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 24px;
}

.add-comment .field .button--sc{
  background: var(--background);
  color: var(--Gray-gray-80, #333);
  font-weight: 700;
  border: 1px solid var(--Gray-gray-90, #1B1B1B);
  margin-top: 24px;
}

.comment__actions.br-button{
  border: 1px solid var(--blue-warm-vivid-70, #1351B4);
}

.comment__content p{
  padding: 1rem 0;
}

.add-comment {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.comment__header__context-menu .fa-ellipsis{
  color: var(--blue-warm-vivid-70);
  width: 20px;
  height: 20px;
}