.processes-list-header {
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
  flex-shrink: 0;
  position: relative;
}

.processes-list-header-title {
  color: #0C326F;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.br-processes-list .card-grid .column,
.br-processes-list .card-grid .columns {
  height: fit-content;
}
@media (min-width: 768px) {
  .br-processes-list .card-grid .column,
  .br-processes-list .card-grid .columns {
    height: 100%;
  }
}

.br-processes-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 3rem 0;
}

.custom-tooltip {
  display: none;
}

.custom-tooltip.visible {
  display: flex;
  flex-direction: column;
  margin: 8px 16px 0 16px;
  padding: 0;
}

.custom-tooltip-content {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: var(--font-weight-regular);
  background-color: #eaf4fe;
  color: var(--gray-90);
  padding: 1.5rem;
  border-radius: 4px;

  p {
    margin: 0;
  }
}

.custom-tooltip-arrow {
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #eaf4fe;
  position: relative;
  left: 90%;
}

.hidden {
  display: none;
}

.processes_header-container {
  padding-bottom: 48px;
  border-bottom: 1px solid var(--gray-20);
}

#processes-list-header {
  .flex--sbe {
    align-items: flex-start;
    margin-top: 48px;

    h3 {
      font-size: 1rem;
      font-weight: var(--font-weight-regular);
      line-height: 22.15px;
      text-align: left;
      color: var(--gray-90);
    }
  }

  .filters--span {
    font-size: 14px;
    text-align: left;
    color: var(--gray-90);
    font-weight: var(--font-weight-regular);
  }

  .inline-filters__label,
  .order-by__tabs,
  #process-type-filter {
    margin: 0 !important;
  }

  .type-filter-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .callout.warning {
    margin-top: 3rem;
    margin-bottom: 0 !important;
  }
}

@media (max-width: 768px) {
  #processes-list-header {
    .flex--sbe {
      padding: 0 1rem;
      flex-direction: column;
      gap: 2rem;
    }

    .inline-filters__label {
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  #process-type-filter,
  .order-by__tabs,
  .inline-filters__label {
    width: 100%;
  }

  .inline-filters__label {
    button {
      font-size: var(--font-size-scale-up-01) !important;
      font-weight: var(--font-weight-regular);
      color: var(--blue-warm-vivid-80);
    }
  }

  #inline-state-filter-sort {
    position: relative;
    width: 100%;
    margin: 0;
  }

  .processes-list-header {
    flex-direction: column;
    align-items: baseline;
  }

  .custom-tooltip-arrow {
    left: 5%;
  }
}