.processes-list-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    flex-shrink: 0;
    position: relative;
}

.processes-list-header-title {
    color: #0C326F;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

.br-processes-list .card-grid .column,
.br-processes-list .card-grid .columns {
  height: fit-content;
}
@media (min-width: 768px) {
  .br-processes-list .card-grid .column,
  .br-processes-list .card-grid .columns {
    height: 100%;
  }
}

.br-processes-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 3rem 0;
}

.custom-tooltip {
  display: none;
  background-color: #eaf4fe; /* Cor de fundo do tooltip */
  color: var(--gray-90); /* Cor do texto */
  padding: 1.5rem;
  border-radius: 4px;
}

.custom-tooltip.visible {
  display: block;
  margin-top: 24px;
}

.custom-tooltip-content {
  font-size: 1rem; /* Tamanho da fonte do tooltip */
  line-height: 1.4;
  font-weight: var(--font-weight-regular);
}

.custom-tooltip-arrow {
  width: 0;
  height: 0;
  margin-top: 24px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #eaf4fe; /* Cor da seta */
  position: absolute;
  top: 62px;
  right: 114.5px;
}

.hidden {
  display: none;
}

.processes_header-container {
  padding-bottom: 48px;
  border-bottom: 1px solid var(--gray-20);
}

#processes-list-header {
  .flex--sbe {
    align-items: flex-start;
    margin-top: 48px;

    h3 {
      font-size: 1rem;
      font-weight: var(--font-weight-regular);
      line-height: 22.15px;
      text-align: left;
      color: var(--gray-90);
    }
  }

  .filters--span {
    font-size: 14px;
    text-align: left;
    color: var(--gray-90);
    font-weight: var(--font-weight-regular);
  }

  .inline-filters__label,
  .order-by__tabs,
  #process-type-filter {
    margin: 0 !important;
  }

  .type-filter-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  #processes-list-header {
    .flex--sbe {
      padding: 0 1rem;
      flex-direction: column;
      gap: 2rem;
    }

    .inline-filters__label {
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  #process-type-filter,
  .order-by__tabs,
  .inline-filters__label {
    width: 100%;
  }

  .inline-filters__label {
    button {
      font-size: var(--font-size-scale-up-01) !important;
      font-weight: var(--font-weight-regular);
      color: var(--blue-warm-vivid-80);
    }
  }

  #inline-state-filter-sort {
    position: relative;
    width: 100%;
    margin: 0;
  }
}