.proposals-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
}
.proposals-container p {
  margin: 0;
}
.proposal-title {
  color: var(--blue-warm-vivid-70);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.content-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
}

.main-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.side-content {
  flex: 1;
  display: flex;
  width: 267px;
  padding: 8px 16px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

.proposals-content-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.proposals-filters {
  min-width: 300px;
  height: fit-content;
}

.proposals-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.diff-view-by,
.order-by {
  margin: 0;
}

.proposals-counter {
  font-weight: 400;
  font-size: 1rem;
}

.order-text {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.bp-order-by-container {
  border-radius: 0.25rem;
  border: 1px solid var(--gray-10);
}

.order-by__dropdown-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.order-by__dropdown-container > ul {
  padding: 0 0.5rem;
  width: 100%;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  display: none;
  font-style: italic;
  font-weight: 700;
}

.title-action-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
}

.title-action-button {
  display: flex;
  align-items: center;
  justify-content: right;
}

.title-action__action {
  gap: 0.5rem;
  max-width: auto;
}

.proposals-button__container {
  padding-left: 0;
}

.user-name-title-h1 {
  display: none;
  justify-content: left;
}

.order__by-content-text {
  font-size: 17px;
  font-weight: 600;
}

.proposals__buttons-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.proposals__button-circle {
  display: inline-flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--blue-warm-vivid-70);
  position: relative;
  z-index: 10;
}

.proposals__button-circle:hover {
  background-color: rgba(var(--interactive-rgb), var(--hover));
}

.proposals-actions-admin {
  display: flex;
  flex-direction: row;
  padding: 0 0 24px 0;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
.proposals-actions-admin .black-and-white-btn {
  width: 100%;
}
.proposals-actions {
  display: flex;
  gap: 24px;
  padding: 24px 0;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
}
.proposals-criteria-label {
  color: var(--blue-warm-vivid-80);
  display: flex;
  align-items: center;
  font-size: 12px;
}

.paginate-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.results-per-page {
  visibility: hidden;
}
.order__by-text {
  width: 100%;
  margin-bottom: 1.5rem;
}
.proposals-announcement .br-announcement {
  h2 {
    padding: 0;
    margin: 0 0 0.5rem 0;
    color: var(--pure-100);
    font-size: 1.5rem;
  }
  p {
    color: var(--gray-60);
  }
}

.proposal-extra-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 640px) {
  .proposal-extra-data {
    flex-direction: row;
  }

  .order-by__dropdown-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-direction: row;
  }
  .order-by__dropdown-container > ul {
    width: 240px;
  }
  .paginate-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .results-per-page {
    padding: 0;
    font-weight: 400;
    align-items: center;
    justify-content: right;
    display: block;
    visibility: visible;
  }
  .proposals-container {
    display: flex;
    flex-direction: row;
    margin: 1.5rem 0;
    justify-content: space-between;
    align-items: center;
  }
  .order__by-text {
    width: auto;
  }
  .title-action-button {
    display: flex;
    align-items: center;
    justify-content: right;
  }
  .bp-order-by-container {
    width: 16rem;
  }

  .proposals-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 24px;
  }
  .title-action__action {
    max-width: 250px;
  }
  .proposals-actions-admin {
    padding: 0 0 16px 0;
    gap: 8px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .proposals-actions {
    padding: 24px 0;
    justify-content: flex-start;
    flex-direction: row;
  }
  .proposals-criteria-label {
    color: var(--blue-warm-vivid-80);
    font-size: 14px;
  }
  .proposals-actions-admin .black-and-white-btn {
    width: auto;
  }
  .br-announcement {
    h2 {
      padding: 0;
      margin: 0 0 0.5rem 0;
      color: var(--pure-100);
      font-size: 2rem;
    }
    p {
      color: var(--gray-60);
    }
  }
}

.proposals-br {
  width: 100%;
}

.proposals-br .dropdown.menu > li {
  display: flex;
}

.empyt-div {
  width: 200px;
}

.proposals-br .dropdown.menu > li > a {
  padding: 0.7rem 0.3rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 400;
  color: var(--blue-warm-vivid-80);
}

.proposals-br .card-grid .column,
.proposals-br .card-grid .columns {
  height: 100%;
  margin: 0;
  padding: 0;
}

.results-per-page__dropdown {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.new_filter .br-input .br-button {
  margin-top: calc((52px + var(--spacing-scale-half)) * -1) !important;
}

#parent-assemblies .card-grid .column {
  height: 100%;
  margin: 0;
  padding: 0;
}

.proposal-export-buttons {
  display: flex;
  align-items: normal;
  gap: 8px;
}

.participatory_texts_buttons {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  margin-bottom: 8px;

  @media (max-width: 640px) {
    flex-direction: column;
    align-items: flex-end;
  }
}

.see-index-button {
  color: var(--interactive);
  gap: 1rem;
}

.results-per-page-export-button {
  display: flex !important;
  flex-direction: row !important;
  text-decoration: none !important;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-scale-base);
  font-weight: var(--font-weight-semi-bold);
  padding: 5px 15px;
}

.filter-container .dropdown.menu > li > a {
  position: relative;
  background-color: var(--interactive-light);
  color: var(--color-dark);
  padding: 10px;
  border-radius: 100em;
  margin-right: 10px;
  transition: background-color 0.3s ease-in-out;
}

.vertical.menu.add-components {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.exports--proposals a,
.exports--proposal_comments a {
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 1rem;
}

.exports--proposals a:hover,
.exports--proposal_comments a:hover {
  background-color: var(--blue-20);
}

.br-message.info-drop {
  --message-background: var(--background);
  --message-color-icon: var(--color);
  --feedback-background: var(--background);
  --message-text: var(--color);
  display: flex;
  margin-bottom: var(--spacing-scale-2x);
  background-color: var(--green-cool-vivid-5);
  justify-content: space-between;
  align-items: center;
}

.br-message.info-drop > .content-br > .message-title-br {
  color: var(--gray-80);
  font-weight: var(--font-size-scale-up-01);
}

.br-message-container {
  display: flex;
  align-items: center;
}

#export-span-close {
  color: var(--green-cool-vivid-50);
}

.export-span-show {
  opacity: 1;
  height: 3rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.export-span-hollow {
  opacity: 0;
  height: 0rem;
  padding: 0rem;
  margin-bottom: 0rem;
  display: none;
}

#proposals {
  width: 100%;
}

.card--proposal {
  max-width: 364px;
}

.proposal_card__title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--blue-warm-vivid-70);
  margin-bottom: 1rem;
  margin-top: 0;
}

.tags a {
  display: flex;
  width: 100%;
  padding: 4px 8px;
  border-radius: 2px;
  border: 0;
  background: var(--gray-2);
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--blue-warm-vivid-70);
}
.tags li {
  display: flex;
}

.propposal_card__header {
  overflow: hidden;
}

.proposal_text--paragraph {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.proposal_card__footer {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proposals_card_stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.proposal-divider {
  width: 100%;
  height: 1px;
  background-color: var(--gray-4);
}

.proposal-buttons {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.votes_stat {
  font-weight: 600;
  font-size: 1.25rem;
  text-transform: lowercase;
}

.comments_stat {
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: lowercase;
}

.proposal_vote_button {
  padding-left: 48px;
  padding-right: 48px;
}

.br-announcement {
  h2 {
    padding: 0;
    margin: 0 0 0.5rem 0;
    color: var(--pure-100);
  }
  p {
    color: var(--gray-60);
  }
}
.proposal-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 0;
  margin: 0;
  width: 100%;
}

.proposal-card__content {
  display: flex;
  padding: 16px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  background: var(--blue-warm-vivid-5);
}

.button--vote-button,
.button_to,
.button--vote-button .button_to button {
  width: 100%;
}


.xmark-button {
  height: 12px;
}