.form-container {
  box-shadow: none;
  border: none;
  padding: 0;

  .card__content {
    padding: 0;
  }

}

.question-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-bottom: 1rem;

  & > div {
    border-bottom: 1px solid #e0e0e0;
    min-height: 150px;
  }
}

.question-conainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;

}

.submit-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  width: 100%;
}

.submit-content {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  align-items: flex-end;
}

.form-foreground-section {
  padding: 1.5rem;
  background: var(--blue-warm-vivid-5);
  margin: 1.5rem 0;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.two-column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bp-help-text {
  color: var(--blue-warm-vivid-80);
  font-weight: 300;
  margin: 0;
}

.bp-foreground-field {
  background-color: var(--pure-0) !important;
  border-color: transparent !important;
  padding: 0 var(--spacing-scale-3x) !important;
  box-shadow: none !important;
  margin: 1rem 0 0 0 !important;
}

.bp-geocoding-field::placeholder {
  color: #0c326f80 !important;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rawline;
  font-size: 0.875rem !important;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.bp-form-label {
  color: var(--blue-warm-vivid-80);
  font-size: 1rem;
  font-weight: 600;
}

.bp-form-label .form-input-extra-before {
  display: none;
}

.no_help-text .help-text {
  display: none;
}

