.hide-br-list-dropdown {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.3s, transform 0.3s, box-shadow 0.2s;
}

.br-list-dropdown {
  box-shadow: none !important;
}

.br-list-dropdown-in-view {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
  transition: box-shadow 3s;
}

.show-br-list-dropdown {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s, transform 0.4s, box-shadow 0.3s;
  -webkit-transition: opacity 0.5s, transform 0.4s, box-shadow 0.3s;
  -moz-transition: opacity 0.5s, transform 0.4s, box-shadow 0.3s;
  -ms-transition: opacity 0.5s, transform 0.4s, box-shadow 0.3s;
  -o-transition: opacity 0.5s, transform 0.4s, box-shadow 0.3s;
}

.foreign-login {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.foreign-login > div, .foreign-actions-buttons  {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.foreign-login h1 {
  color: var(--blue-warm-vivid-80);
  font-size: var(--font-size-scale-up-03);
  font-weight: var(--font-weight-regular);
  margin: 0;
}

.foreign-login p {
  color: var(--gray-90);
  font-size: var(--font-size-scale-up-01) !important;
  font-weight: var(--font-weight-regular);
  line-height: normal;
  margin: 0;
}

.foreign-actions-buttons {
  margin-top: 2rem;
}

.foreign-actions-buttons a {
  color: var(--blue-warm-vivid-70);
  font-size: var(--font-size-scale-up-01) !important;
  font-weight: var(--font-weight-regular);
}

.foreign-actions-buttons .br-sign-in{
  display: flex;
  border: 1px solid var(--blue-warm-vivid-70);
  gap: 0.5rem;
}

.foreign-actions-buttons .fa-user-large {
  font-size: 1.25rem;
}
