<div class="filters__section">
  <div class="filters__help">
    <% if skip_to_id %>
      <%# <%= link_to t(".skip"), "##{skip_to_id}", class: "skip" %> 
    <% end %>
    <p class="filters__title"> <%=t("activemodel.attributes.agenda.filter_only_applies_Agenda_meetings")%> </p>  
  </div>
</div>