<% menu_id = "#{SecureRandom.uuid}_results_per_page_menu" %>
<nav class="br-pagination" aria-label="Paginação de resultados" data-total="50" data-current="1" data-per-page="20">
  <div class="pagination-per-page">
    <div class="br-select">
      <div class="br-input">
        <label for="per-page-selection-random-95248">Exibir</label>
        <input
          id="per-page-selection-random-95248"
          type="number"
          placeholder=" "
          value="<%= per_page %>"
        />
        <button
          class="br-button"
          type="button"
          aria-label="Exibir lista"
          tabindex="-1"
          data-trigger="data-trigger"
        >
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </button>
      </div>
      <div role="presentation" class="br-list">
        <% Decidim::Paginable::OPTIONS.each do |per_page_option| %>
          <div class="br-item">
            <div class="br-radio">
              <%= link_to per_page_option, url_for(params.to_unsafe_h.merge(page: nil, per_page: per_page_option)), data: { per_page_option: per_page_option }, remote: false, title: t("decidim.shared.results_per_page.title"), class: "results-per-page__link", role: "menuitem" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
