<div class="share_container">
  <% title_name = defined?(title_name) ? title_name : nil %>
  <p class="mb-0"><%= title_name.present? ? title_name : t(".share") %>:</p>
  <%= render partial: "decidim/shared/social_media_icons",
    locals: { social_media_text: decidim_page_title, social_media_path: decidim_meta_url } %>
</div>
