<div class="br_eadcrumbs">
<a href=<%="/processes/"+current_participatory_space.slug%> <i class="fa-solid fa-house"></i> </a> > <a href=<%="/processes/"+current_participatory_space.slug + "/f/" + current_component.id.to_s%>> <%=translated_attribute(current_component.name)%> </a> <span> > </span><%=translated_attribute(current_component_object[0].title)%>
</span>
</div>