<% unless attachment_collection.unused? %>
  <div class="docs__container">
    <button class="docs-collection-label" type="button" data-toggle="docs-collection-<%= attachment_collection.id %>">
      <strong><%= translated_attribute(attachment_collection.name) %></strong>
      <i class="fa-solid fa-chevron-down"></i>
    </button>

    <div id="docs-collection-<%= attachment_collection.id %>" class="docs__content hide" data-toggler=".hide">
      <div class="card card--list">
        <% documents.each do |document| %>
          <%= render partial: "decidim/application/document", locals: { document: document } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
