<%= link_to document.url, target: "_blank", rel: "noopener", class: "br-card--list__item" do %>
  <div class="br-card--list__text">
    <div class="card__link">
      <span class="br-card--list__heading heading6">
        <%= attachment_title(document) %>
      </span>
      <span class="doc_extension">.<%= document.file_type %>&nbsp;(<%= number_to_human_size(document.file_size) %>)</span>
    </div>
  </div>
  <div class="br-card--list__data">
    <i class="fa fa-download" aria-hidden="true"></i>
  </div>
<% end %>
