<div class="attachment-item">
  <div class="attachment-file">
    <h4><%= attachment_title(document) %></h4>
    <p><%= translated_attribute(document.description) %></p>
  </div>
  <%= link_to document.url, target: "_blank", rel: "noopener", class: "br-button secondary download-button" do %>
    <i class="fa-solid fa-download"></i>
    <span>Baixar</span>
  <% end %>
</div>