<div class="attachment-item">
  <div class="attachment-file">
    <h4><%= attachment_title(document) %></h4>
    <p><%= translated_attribute(document.description) %></p>
  </div>
  <%= link_to document.url, target: "_blank", rel: "noopener", class: "download-button" do %>
    <i class="fa-solid fa-file-arrow-down"></i>
    <span>Baixar em <%= document.file_type.upcase %></span>
  <% end %>
</div>